<div class="center-div">
    <mat-card class="user-card">
      <mat-card-header>
        <mat-card-title>Edit User</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form #edituder="ngForm">
          <mat-form-field class="input-full-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" [(ngModel)]="user.name" type="text" name="name" #userName="ngModel" required>
            <mat-error *ngIf="userName.errors?.required" >First Name is required.</mat-error>
          </mat-form-field>
          
          <mat-form-field class="input-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" [(ngModel)]="user.email" type="email" name="email" #userEmail="ngModel" required email>
            <mat-error *ngIf="userEmail.errors?.required" >Email is required.</mat-error>
            <mat-error *ngIf="userEmail.errors?.email" >Email is invalid.</mat-error>
          </mat-form-field>
          
          <section class="example-section">
            <mat-label class="example-margin">Gender:</mat-label>
            <mat-radio-group [(ngModel)]="user.gender" name="gender">
              <mat-radio-button class="example-margin" value="Male">Male</mat-radio-button>
              <mat-radio-button class="example-margin" value="Female">Female</mat-radio-button>
            </mat-radio-group>
            <mat-form-field>
              <mat-label>Date of Birth</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="user.dateOfBirth" placeholder="choose a date" style="margin-left: 10;" name="dateOfBirth" #userDateOfBirth="ngModel" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="userDateOfBirth.untounched||userDateOfBirth.errors?.required">Date of Birth is required.</mat-error>
            </mat-form-field>
          </section>
  
          <mat-form-field class="input-full-width">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let hobbie of user.hobbies" [selectable]="selectable"
                       [removable]="removable" (removed)="remove(hobbie)">
                {{hobbie}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Hobbie"
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)"
                     required>
            </mat-chip-list>
          </mat-form-field>
          <mat-error *ngIf="user.hobbies?.length === 0" >Atleast 1 hobbie is required.</mat-error>
  
          <label>Profile Photo:</label>
          <br>
          <img [src]="user.photo" style="height: 100px; border-radius: 50%;"> 
          <br>
          <input name="profilePhoto" #profilePhoto="ngModel" ngModel type="file" accept="image/jpeg,image/png" (change)="getImageFile($event)"/>
          <mat-error *ngIf="profilePhoto.touched && profilePhoto.errors?.required">Profile Picture is required.</mat-error>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="save()" color="primary">Save</button>
      </mat-card-actions>
    </mat-card>
  </div>