<div class="center-div">
    <mat-card class="user-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form #loginForm="ngForm">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Email" [(ngModel)]="email" type="text" #userEmail="ngModel" name="Email" required email>
            <mat-error *ngIf="userEmail.errors?.required" >Email is required</mat-error>
            <mat-error *ngIf="userEmail.errors?.email" >Email is invalid</mat-error>
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Password" [(ngModel)]="password" type="password" #userPassword="ngModel" name="Password" required>
            <mat-error *ngIf="userPassword.errors?.required" >Password is required</mat-error>
          </mat-form-field>
        </form>
        <mat-error *ngIf="loginError.length !== 0">{{loginError}}</mat-error>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="login()" color="primary" [disabled]="!loginForm.valid" >Login</button>
        <a mat-raised-button color="primary" routerLink="signup" >Create New Account</a>
      </mat-card-actions>
    </mat-card>
  </div>