<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Example icon-button with menu icon">
  </button>
  <span>Home</span>
  <span class="example-spacer"></span>
  <button mat-button *ngIf="currentUser.email !== undefined">
    {{currentUser.name}}
  </button>
  <button mat-button *ngIf="currentUser.email !== undefined" (click)="logout()">
    Logout
  </button>
  <button mat-button *ngIf="currentUser ===  undefined || currentUser.email === undefined" routerLink="login">
    Login
  </button>
  <button mat-button *ngIf="currentUser === undefined || currentUser.email === undefined" routerLink="signup">
    Sign up
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
