<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Example icon-button with menu icon">
  </button>
  <span>Home</span>
  <span class="example-spacer"></span>
  <button mat-button  *ngIf="currentUser">
     {{currentUser.name}}
  </button>
  <button mat-button *ngIf="currentUser" (click)="logout()">
    Logout
  </button>
  <button mat-button *ngIf="!currentUser" routerLink="login">
    Login
  </button>
  <button mat-button *ngIf="!currentUser"routerLink="signup">
    Signup
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
